<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App</title>
    <link rel="stylesheet" href="../static/style.css">

</head>
<body>
    
    <section class="heading">
        <h3>Sentiment Analysis</h3>
    </section>

    <div class="wrapper" style="background:url('../static/se2.jpg');background-size: cover;">
        
        <form method="post">
            <label>Enter the text:</label>
            <textarea name="text"></textarea>
            <input type="submit" class="btn">
        </form>
    </div>
    

    <div class="row">
        <div class="column">
            <div class="positive">
                <label for="">Positive Sentiments : {{ data.positive }}</label>
            </div>
            <div class="p_text">
                <ul>
                {% for review in data.p_reviews %}
                <li>
                <span>{{ review }}</span>
                </li>
                {% endfor %}
                </ul>
            </div>
          
        </div>
        <div class="column">
            <div class ="negative">
                <label for="">Negative Sentiments : {{ data.negative }}</label>
            </div>
            <div class="n_text">
                <ul>
                {% for review in data.n_reviews %}
                <li>
                    <span>{{ review }}</span>
                </li>
                {% endfor %}
                </ul>
            </div>
          
        </div>
    </div>
    
    <!-- <div >
        <div>
            {% for review in data.reviews %}
            <hr/>
            <div class="text-nowrap bd-highlight"><span>{{ review }}</span></div>
            <hr/>
            {% endfor %}
        </div>
    </div> -->
          
    
</body>
</html>